<html ng-app="doctor">
<head>
<title>
Doctor's view
</title>
<link rel="stylesheet" type="text/css" href= "doctor.css"> 
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <script>

  $(document).ready(function() {
    $("#datepicker").datepicker();
  });

  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
var app = angular.module('doctor',[]);
app.controller('MainCtrl', function ($scope, $http) {
$scope.name = null;
$scope.gender = null;
$scope.age = null;
$scope.weight = null;
$scope.p_id = null;
$scope.symptoms = null;
$scope.medicine = null;
$scope.dosage = null;
$scope.duration = null;
$scope.nooftimes = null;
$scope.specinst = null;

$scope.drname = null;
$scope.drage = null;
$scope.drdepartment = null;

// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("list1");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function categoryController(drname, drage, drdepartment) {
    modal.style.display = "block";
  testmsg = "working";
            var url = "http://localhost:category.txt";
            $http.get(url).success(function (response) {
            	document.getElementById("test").innerHTML = testmsg;
                $scope.categories = response;
            });

        
 var drJSON = '{ "name":"John", "age":31, "department":"Radiology" }';

var myObj = JSON.parse(drJSON);
document.getElementById("drname").innerHTML = myObj.name;
document.getElementById("drage").innerHTML = myObj.age;
document.getElementById("drdepartment").innerHTML = myObj.department;
     

}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";

}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
var login = document.getElementById("list2");
login.onclick= function()
{
	window.location.replace("file:///Users/sangeetha/Desktop/Experimental/webpagecode.html");
} 

$scope.postdata = function (name, gender, age, weight, p_id, symptoms, medicine, dosage, duration, nooftimes, specinst) {
var data = {
name: name,
gender: gender,
age: age,
weight: weight,
p_id: p_id,
symptoms: symptoms,
medicine: medicine,
dosage: dosage,
duration: duration,
nooftimes: nooftimes,
specinst: specinst
};
//Call the services
$http.post('http://localhost:3000/',JSON.stringify(data)).then(function (response) {
if (response.data)
$scope.msg = "Post Data Submitted Successfully!";
}, function (response) {
$scope.msg = "Service not Exists";
$scope.statusval = response.status;
$scope.statustext = response.statusText;
$scope.headers = response.headers();
;
});
};
});
</script>

</head>
<body ng-controller="MainCtrl" background="background.jpg">
	<ul>
		<li id="list1"><input type="image" id="profileicon" src="medical.jpg" ><br><font color="white">Your Profile</font></input></li>
		<li id="list2"><input type="image" id="loginicon" src="loginicon.jpg"><br><font color="white">Login page</font></input></li>
		<li id="list3"><input type="image" id="abouticon" src="abouticon.jpg"><br><font color="white">About</font></input></li>
	</ul>
<form id="doctorform">

	<p id="nametext">Name:</p>

	<input id="name" type="text" ng-model="name" required/>
	
	<p id="gendertext">Gender:</p>
	<input type="radio" value="male" ng-model="gender"> <font color="white" size="3" face="Avenir Next"> Male</font>
	<input type="radio" value="female" ng-model="gender"><font color="white" size="3" face="Avenir Next"> Female</font>
	<input id="age" type="number" ng-model="age"/><font id="agename" color="white" size="3" face="Avenir Next" >Age:</font>
	<input id="weight" type="number" ng-model="weight"/><font id="weightname" color="white" size="3" face="Avenir Next">Weight:</font>
	<input type="text"  id="datepicker" ng-model="ctrl.dob"><font id="dobname" color="white" size="3" face="Avenir Next">Date Of Birth:</font>
	<input type="text" id="patientid" ng-model="p_id"/><font id="patientidname" color="white" size="3" face="Avenir Next">Patient ID:</font>
	<input type="text" id="medicine" ng-model="medicine"/><font id="medicineidname" color="white" size="3" face="Avenir Next">Medicine Name:</font>
	<input type="text" id="dosage" ng-model="dosage"/><font id="dosageidname" color="white" size="3" face="Avenir Next">Dosage:</font>
	<input type="text" id="duration" ng-model="duration"/><font id="durationidname" color="white" size="3" face="Avenir Next">Duration:</font>
	<input type="number" name="nooftimes" id="times" ng-model="nooftimes"/><font id="timesidname" color="white" size="3" face="Avenir Next">No. of times to be taken per day:</font>
	
	
<input id="submitbutton" type="button" value="Send" ng-click="postdata(name, gender, age, weight, p_id, symptoms, medicine, dosage, duration, nooftimes, specinst)"/>
<input id="resetbutton" type="reset">
</form>
<textarea id="symptomform" form="doctorform" ng-model="symptoms" placeholder="Enter symptoms here:"></textarea>
<textarea id="specialinstructionsform" form="doctorform" ng-model="specinst" placeholder="Enter special instructions here:"></textarea>

  
  





<div id="myModal" class="modal" ng-controller="categoryController">

 
  
    <span class="close">&times;</span>
 oyt
 {{ msg1 }}
    
                Category ID
               Category Name
           
                {{ category.CategoryID }}
               {{ category.CategoryName }}
            <p id="test"></p>
  
 <p id="drname"></p>
 <p id="drage"></p>
 <p id="drdepartment"></p>
</div>



</body>
</html>
